
<div class="text-center">
    <h1 class="display-4">Soy Alonso Salguero</h1>
    <h2>Soy un desarrollador full stack</h2>

    <img id="foto"
         src="~/imagenes/Logo-1.png" alt="imagen alonso" />
</div>

<div class="text-center">
    <img id="imagen-dotnet"
         src="~/imagenes/dotnet-imagen-2.png" />
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Eres bienvenido a mi Proyecto</h1>
        <p>
            Estoy incursionando en nuevas proyectos para ver que tal, Estoy incursionando en nuevas proyectos para ver que tal, Estoy incursionando en nuevas proyectos para ver que tal
        </p>
    </div>
</div>